:root{
    --primary-color: #17141d;
    --secondary-color: #1f1b2b;
    --accent-color: #ff8a00;
    --tertiary-color: #e52e71;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: var(--primary-color);
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0rem;
    /* overflow: hidden; */
}

/* scroll bar */

body::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}

body::-webkit-scrollbar-thumb{
  background: var(--secondary-color);
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px -2px rgba(0,0,0,.25);
}

body::-webkit-scrollbar-track{
  background: linear-gradient(90deg,#201c29,#201c29 1px, #17141d 0, #17141d);
}

/* nav bar */

header{
    position: relative;
    padding: 2rem 2rem;
}

.nav-bar{
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 1.75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


span{
    color: var(--tertiary-color);
}

.nav-bar .logo{
    color: white;
    font-size: 1.6rem;
    font-weight: 800;
}

.nav-bar .logo:hover{
    color: #fff;
    background: linear-gradient(90deg, var(--accent-color), var(--tertiary-color));
    background-clip: text;
    text-shadow: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transform: scale(1.55);
    transition: all 0.5s ease;
}

.nav-bar .links{
    display: flex;
    gap: 2rem;
}

.nav-bar .toggle-btn{
    color: #fff;
    font-size: 1.6rem;
    cursor: pointer;
    display: none;
}

li{
  list-style: none;
}

a{
  font-size: 1.2rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: var(--tertiary-color);
  transition: .3s;
}

.action-btn{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 20px;
    background: linear-gradient(90deg, var(--accent-color), var(--tertiary-color));
    padding: 10px;
    transition: scale .2 ease-in-out;
}

.action-btn:hover{
    color: #fff;
    scale: 1.05;
}

.action-btn:active{
    scale: 0.95s;
}

/* dropdown menu */
.dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(15px);
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open{
    height: 240px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* media queries */
@media(max-width: 992px){
    .nav-bar .links,
    .nav-bar .action-btn{
      display: none;
    }

    .nav-bar .toggle-btn{
      display: block;
    }

    .dropdown_menu{
      display: block;
    }
}

@media (max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }
}


/* main */

.main-container{
  height: auto;
  width: 100%;
  display: grid;

}

.main-content{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 30px;
    font-size: 3rem;
    letter-spacing: 5px;
}


h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    padding: 0rem clamp(1rem, 2vw, 3rem);
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }
  
  h1:hover {
    background: linear-gradient(90deg, var(--accent-color), var(--tertiary-color));
    position: relative;
  }
  

p{
    letter-spacing: 2px;  
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btn{
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 20px;
  background: linear-gradient(90deg, var(--accent-color), var(--tertiary-color));
  padding: 10px;
  margin: 20px 0px 70px 0px;
}

.btn:hover{
    background: linear-gradient(90deg, var(--tertiary-color), var(--accent-color));
    transition: .2s ease-in-out;
    scale: 1.25;
}

.about-container{
    height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--secondary-color);
}

.about-content{
    padding: 50px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 100px;
}

.contact-container{
    height: auto;
    width: 100%;
    display: grid;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.contact-content{
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

h2{
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.footer-content{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: var(--primary-color);
}

.social-links{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

a{
    color: #fff;
    text-decoration: none;
    margin: 5px 25px;
}

ul{
    list-style-type: none;
}
